
.DS_Store
.vs/AzureFunctions/xs/project-cache/AzureFunctions-Debug.json
.vs/AzureFunctions/xs/sqlite3/db.lock
.vs/AzureFunctions/xs/sqlite3/storage.ide
.vs/AzureFunctions/xs/UserPrefs.xml
Angular/.DS_Store
Angular/dist/**
Angular/node_modules/**
Angular/src/.DS_Store
Angular/src/assets/.gitkeep
Angular/src/environments/environment.prod.ts
