AzureFunctions/.DS_Store
.vs/AzureFunctions/xs/UserPrefs.xml
.vs/AzureFunctions/xs/sqlite3/storage.ide
.vs/AzureFunctions/xs/sqlite3/db.lock
.vs/AzureFunctions/xs/project-cache/AzureFunctions-Debug.json
.vs/AzureFunctions/xs/sqlite3/storage.ide-shm
.vs/AzureFunctions/xs/sqlite3/storage.ide-wal
AzureFunctions/Properties/PublishProfiles/af-d-eus-af - Zip Deploy.pubxml
.DS_Store
Angular/.DS_Store
Angular/src/assets/.gitkeep
Angular/node_modules
AzureFunctions/Properties/PublishProfiles/id-d-eus-af - Web Deploy.pubxml
AzureFunctions/Properties/PublishProfiles/id-d-eus-af - Web Deploy.pubxml
*.pubxml
