
AzureFunctions/.DS_Store
.vs/AzureFunctions/xs/UserPrefs.xml
.vs/AzureFunctions/xs/sqlite3/storage.ide
.vs/AzureFunctions/xs/sqlite3/db.lock
.vs/AzureFunctions/xs/project-cache/AzureFunctions-Debug.json
